/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
}

.navbar .menu-toggle-button {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Menu content styling */
.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow-y: auto;
  padding: 20px;
}

.close-button {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu-list li {
  margin-bottom: 20px;
}

.menu-list li a {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
  transition: color 0.3s;
}

.menu-list li a:hover {
  color: #007bff;
}

.social-media {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social-media i {
  font-size: 1.8rem;
  color: #555;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.social-media i:hover {
  color: #007bff;
  transform: scale(1.2);
}
